<a href="https://colab.research.google.com/github/FazilaUzma/KKASmt1/blob/main/1_fungsi_print_fazila_uzma_XI_I.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Halo dunia")

Halo dunia

In [ ]:
print("Halo dunia")

Halo dunia

In [ ]:
print("Mie ayam")

Mie ayam

In [ ]:
print("Selamat datang di python")

Selamat datang di python

# Variabel

In [ ]:
BB = 50
print(BB)

50

In [ ]:
umur = 25
print(umur)

25

In [ ]:
harga_telur = 26000
print("Harga telur per 1 kg adalah" + str(harga_telur))

Harga telur per 1 kg adalah26000

Menampilkan Variabel dan Teks Bebas

In [ ]:
print("Nama: Fazila Uzma Abdullah")
print("Kelas: XI.1")
print("Nomor absen: 14")

Nama: Fazila Uzma Abdullah
Kelas: XI.1
Nomor absen: 14

In [ ]:
print("Nama\t\t: Fazila Uzma Abdullah\nkelas\t\t: XI.1\nNomor absen\t: 14")

Nama		: Fazila Uzma Abdullah
kelas		: XI.1
Nomor absen	: 14

In [ ]:
print("""Nama: Fazila Uzma Abdullah
kelas: XI.1
Nomor absen: 14""")

Nama: Fazila Uzma Abdullah
kelas: XI.1
Nomor absen: 14

Latihan Soal
1. Tampilkan teks bebas: Hari ini saya bahagia belajar bahasa python
2. Tampilkan nilai variabel: mata_pelajaran_favorit Kode dan Kecerdasan Buatan
3. Tampilkan nilai variabel: nilai kka = 100
4. Tampilkan teks bebas dan nilai variabel dengan tiga metode (f string, "+", ","): "Nilai KKA saya adalah (nilai_kka) loh!"

In [ ]:
print("Hari ini saya bahagia belajar bahasa python")

Hari ini saya bahagia belajar bahasa python

In [ ]:
mata_pelajaran_favorit = "Bahasa Inggris"
print(mata_pelajaran_favorit)

Bahasa Inggris

In [ ]:
nilai_kka = 100
print(nilai_kka)

100

In [ ]:
nilai_kka = 95
print(f"nilai kka saya adalah {nilai_kka} loh!")

nilai kka saya adalah 95 loh!

In [ ]:
nilai_kka = 95
print("nilai kka saya adalah", nilai_kka, "loh!")

nilai kka saya adalah 95 loh!

In [ ]:
nilai_kka = 95
print("nilai kka saya adalah " + str(nilai_kka) + " loh!")

nilai kka saya adalah 95 loh!

Escape Character

In [ ]:
print('Ja\'far Shodiq')

Ja'far Shodiq

In [ ]:
print("Ja'far Shodiq")

Ja'far Shodiq

In [ ]:
print("Bu Shinta berkata, \"Semua harus menyimak pelajaran,\"")

Bu Shinta berkata, "Semua harus menyimak pelajaran,"

In [ ]:
print("Lokasi file video karnaval ada di D:\\Karnaval 2025\\mp4")

Lokasi file video karnaval ada di D:\Karnaval 2025\mp4

Parameter Fungsi Print

In [ ]:
Tahun = 2009
Bulan = "Januari"
Tanggal = 10

print(Tanggal, end=" ")
print(Bulan, end=" ")
print(Tahun)

10 Januari 2009

In [ ]:
Tahun = 2009
Bulan = "Januari"
Tanggal = 10

print(Tanggal, Bulan, Tahun, sep="/")

10/Januari/2009

Latihan:
Tanggal-Bulan-Tahun

In [ ]:
Tahun = 2009
Bulan = "Januari"
Tanggal = 10

print(Tanggal, Bulan, Tahun, sep="-")

10-Januari-2009

In [ ]:
nama_depan = "Fazila"
nama_belakang = "Uzma Abdullah"

print(nama_depan, end=" ")
print(nama_belakang)

Fazila Uzma Abdullah

Latihan Soal Jadwal Pelajaran Mingguan

In [ ]:
print("Bu Shinta berkata, \"berikut adalah judul pelajaran hari senin selasa rabu " "silakan disimpan di laptop masing-masing di folder local disk " "D:\\Jadwal Pelajaran\\Kelas XI Semester I\"")


print("Jadwal Pelajaran Mingguan")
print("=============================")

print("Jam\tSenin\t\tSelasa\t\tRabu")

print("Jam 1\tMatematika\tBahasa\t\tInformatika")
print("Jam 2\tBahasa Ing.\tSejarah\t\tMa\'rifatullah")
print("Jam 3\tInformatika\tOlahraga\tBiologi")

Bu Shinta berkata, "berikut adalah judul pelajaran hari senin selasa rabu silakan disimpan di laptop masing-masing di folder local disk D:\Jadwal Pelajaran\Kelas XI Semester I"
Jadwal Pelajaran Mingguan
=============================
Jam	Senin		Selasa		Rabu
Jam 1	Matematika	Bahasa		Informatika
Jam 2	Bahasa Ing.	Sejarah		Ma'rifatullah
Jam 3	Informatika	Olahraga	Biologi

Parameter fungsi

In [2]:
nama_siswa_1 = "Naufal"
nama_siswa_2 = "Favian"
nama_siswa_3 = "Humaira"
nama_siswa_4 = "Favian"

print(nama_siswa_1, nama_siswa_2, nama_siswa_3, nama_siswa_4, sep="~")

Naufal~Favian~Humaira~Favian

In [3]:
nama_siswa_1 = "Naufal"
nama_siswa_2 = "Favian"
nama_siswa_3 = "Humaira"
nama_siswa_4 = "Favian"

print(nama_siswa_1, end="~")
print(nama_siswa_2)
print(nama_siswa_3, end="~")
print(nama_siswa_4)

Naufal~Favian
Humaira~Favian